
@{
    ViewBag.Title = "UpdateData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Proszę czekać pobieranie danych z PayPal-a</h2>
<br />


@Html.ActionLink(" ", "Index", "AppUser", new { @class = "btn btn-primary btn-sm glyphicon glyphicon-arrow-left" })
